<html lang="en" data-bs-theme="dark">
    <%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
                <div class="mx-auto" style="width: 800px;">
                    <h5>
                        GTACarShare was developed for the community to share (upload) .GTAVV vehicles files,
                    and also download other people creations. It is not aimed for anything else. 
                    Any unintended behavior or unexpected use of this website will be moderated and deleted.
                    The author of this website is not responsible for any use done with the downloaded files, 
                    as it is the responsability of the user as what to do with them and the only purpose of this website is to host those files for people to be able to download or share them.
                    </h5>
                    You can also contact me on discord _ak1m0_ for any question.
                </div>
            </nav>
        </div>
    </body>
</html>