<html lang="en" data-bs-theme="dark">
    <%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
                <span id="ezoic-privacy-policy-embed"></span>
                <div class="py-100">
                    The mainly and only purpose of this website is for people to be able to share (upload) their .GTAVV vehicles files,
                    and also download other people creations. All unintended behavior or unexpected use of this website will be moderated and deleted.
                    Also the author of this website can't be hold responsible for any use done with the downloaded files, as it is the responsability of the user.
                    <cite></cite>
                </div>
            </nav>
        </div>
    </body>
</html>