<html lang="en" data-bs-theme="dark">
<%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
            </nav>

            <div class="d-grid gap-3">

                <div class="mx-auto" style="width: 500px;">
                    <h2>Welcome to GTACarShare, the place to share your creation !</h2>
                </div>

                <div class="mx-auto" style="width: 700px;">
                    <h5>The aim of this project is to build a place where everyone can share their modded vehicles for
                        GTA 5 without the needing for an account,
                        you can upload your favorite vehicles that you made and share them with others, or simply browse
                        all other created vehicles and download any project you like by a simple click.</h5>
                </div>

                <div class="mx-auto" style="width: 700px;">
                    <strong>How to import the vehicles in the game:<br></strong>

                    <strong>Requirements</strong> : usb stick, gta 5 save editor installed, save wizard (paid) or have access to a
                    discord bot that can edit your saves (free), a save of your game

                    <div class="d-grid gap-2">
                        <div>
                            First of all, download the files for the vehicles you'd like to import into the game <br>
                            Once you gathered everything you wanted, you will need to get a DMO file, a glitched game save
                            file to import your vehicles, you can find one easily online.
                        </div>

                        <div>
                            Open the DMO file in the gta 5 save editor program, as for the selected character stay on
                            Franklin, then go to garage -> vehicles and select a vehicle you'd want to replace.
                            Finally next to the search bar, you'll find a button "replace vehicle", click on it and it will
                            open a window where you can select the .GTAVV file and it will replace the selected vehicle by
                            the one you choose.
                            It's possible tp do several vehicles in one save but i don't recommend doing more than 7 at once.
                        </div>

                        <div>You can then save the changes and exit save editor, then head over to edit the save to match your account, otherwise you won't be able to copy it on your ps4.
                            If you don't know how to do that, I recommend using a discord bot as it is a free method and you only need a discord account, 
                            just join a server with one of these bots that can edit your save and carefully read the instructions.
                            If you have save wizard you probably already know how to resign the save. Finally plug the usb stick in your ps4 and head up to the settings and copy the data from your usb stick to the ps4 storage. Launch the game and you should have the imported vehicles in your garages.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>