<html lang="en" data-bs-theme="dark">
    <%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
            </nav>

            <section id="intro">
                <p>Welcome to GTACarShare, the place to share your creation !</p>

            The aim of this project is to build a place where everyone can share their modded vehicles for GTA 5 without the needing for an account,
            you can upload your favorite projects and share with others, or simply browse all other created vehicles and download any project you like by a simple click            
            </section>

            <section id="tutorial">
                How to import the vehicles to the game:

                requirements : stick drive, gta 5 save editor installed, save wizard (paid) or have access to a discord bot that can edit your saves (free)

                First of all, download the files for the vehicles you'd like to import into the game
                Once you gathered everything you wanted, you will need to get a DMO file, a glitched game save file to import your vehicles
                you can find one for the latest version here : INSERT LINK

                open this DMO file in the gta 5 save editor program, as for the selected character stay on franklin, then go to garage -> vehicles and select a vehicle you'd want to replace
                finally next to the search bar, you'll find a button "replace vehicle", click on it and it will open a window where you can slected the .GTAVV file and it will replace the selected vehicle by the one you choose.
                you can do several vehicles in one save but i don't recommend doing more than 7 at once.

                You can then save the changes and exit save editor, now you need to plug the stick drive
            </section>
        </div>
    </body>
</html>