<html lang="en" data-bs-theme="dark">
    <%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
                <div class="mx-auto" style="width: 800px;">
                    <h5>
                        GTACarShare is not collecting any data of any form, this site is only hosting uploaded vehicle files.
                    </h5>
                </div>
            </nav>
        </div>
    </body>
</html>