<html lang="en" data-bs-theme="dark">
    <%- include("preset/title.ejs"); %>

    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar.ejs"); %>
            </nav>
        </div>
    </body>
</html>