<html lang="en" data-bs-theme="dark">
    <%- include("preset/title"); %>
    <body>
        <div class="container">
            <nav class="navbar d-block">
                <%- include("preset/navbar"); %>
                <form method="post" action="upload" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="nameOverlay" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameOverlay" name="vehicleName" minlength="6"
                            maxlength="20" required>
                        <div id="nameHelp" class="form-text">
                            Name that will be displayed over the vehicle's image
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="selectCategory" class="form-label">Select vehicle category</label>
                        <select class="form-select" aria-label="categorie select" id="selectCategory" name="categorie"
                            required>
                            <option value="commercial" selected>Commercial</option>
                            <option value="compact">Compact</option>
                            <option value="coupe">Coupe</option>
                            <option value="emergency">Emergency</option>
                            <option value="military">Military</option>
                            <option value="motorcycle">Motorcyle</option>
                            <option value="muscle">Muscle</option>
                            <option value="offroad">Off road</option>
                            <option value="openwheel">Open wheel</option>
                            <option value="plane">Plane</option>
                            <option value="sedan">Sedan</option>
                            <option value="service">Service</option>
                            <option value="sportclassic">Sport classic</option>
                            <option value="sport">Sport</option>
                            <option value="super">Super</option>
                            <option value="suv">Suv</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select the vehicle file</label>
                        <input class="form-control" type="file" id="vehicleFileSelect" accept=".GTAVV"
                            name="vehicleFile" required>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Select the vehicle image to be displayed</label>
                        <input class="form-control" type="file" aria-describedby="imageWarning" id="imageVehicleSelect"
                            accept="image/webp, image/png, image/jpeg, image.jpg" name="vehicleImage" required>
                        <div class="form-text" id="imageWarning">
                            All other images than the actual vehicle picture will result in your post being deleted !
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </nav>
        </div>
    </body>
</html>
